.buttons {
    display: flex;
    justify-content: center;
    margin-top: 40%;
}

.info_button {
    background-color: white;
    border: white none 0px;    
    width: 34px;
    height: 34px;

    display: flex;
    justify-content: center;

    position: fixed;
    top: 0px;
    right: 0px;
}
